<h1>Step 3</h1>
<p>This page should show the last 5 queries submitted by the users and their corresponding first result. Show all data that is rendered in step 1.</p>
<h3>Hints:</h3>
<ul>
    <li>
        You will need to modify the HomeController and QueryService classes.
    </li>
</ul>


<p></p>
<p></p>

@*<script type="text/javascript">


        $(document).ready(function () {
            var url = '@Url.Action("ListQuery", "Home")'
            $('#submit').click(function () {
                $('#results').load(url);
            });
        });
    </script>


    <input id="submit" type="submit" value="Refresh" />

    <div id="results">
        @{ Html.RenderAction("ListQuery", "Home");}
    </div>*@


<div ng-controller="StackSearch">
    <input type="button" ng-click="refresh()" value="Refresh" />

    <table class="table">

        <thead>
        <th>
            Question
        </th>
        <th>
            Date Created
        </th>
        <th>
            Title
        </th>
        <th>
            Author
        </th>
        <th>
            Tags
        </th>
        <th>
            Avatar
        </th>
        <th>
            Accepted Answer
        </th>

        </thead>
        <tbody>
            <tr ng-repeat="result in topSearches">
                <td>
                    {{result.QueryText}}
                </td>
                <td>
                    {{result.Time}}
                </td>
                <td>
                    {{result.SearchResults[0].Title}}
                </td>
                <td>
                    {{result.SearchResults[0].OwnerName}}
                </td>
                <td>
                    {{result.SearchResults[0].Tags}}
                </td>
                <td>
                    <img src="{{result.SearchResults[0].Avatar}}" height="45" width="45"></img>
                </td>
                <td>
                    <p ng-if="result.SearchResults[0].AcceptedAnsId">
                        <a href="https://stackoverflow.com/a/{{result.SearchResults[0].AcceptedAnsId}}">{{result.SearchResults[0].AcceptedAnsId}}</a>
                    </p>
                    <p ng-if="!result.SearchResults[0].AcceptedAnsId">
                        No Answer
                    </p>
                </td>
            </tr>
        </tbody>
    </table>
</div>